*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font: inherit
}

h1 {
    color: white;
    font-size: 20pt;
    font-weight: 600;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: darkseagreen;
}

#header, #footer, #name-inputs, #alternatives, #alternatives-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header, #footer {
    background-color: rgba(60, 179, 113, 0.6);
    height: 120px;
}

#body {
    padding-top: 50px;
    padding-bottom: 25px;
    flex: 1
}

#footer {
    height: 75px;
    color: white;
    font-size: 14pt;
}

#name-inputs {
    flex-direction: row;
    gap: 50px;
}

#name-inputs p, #alternatives li p {
    margin-bottom: 10px;
    margin-left: 5px;
}

.input-name {
    padding: 12px 5px;
    width: 500px;
}

#alternatives {
    margin: 20px;
    flex-direction: column;
}

#alternatives ul {
    margin-bottom:  25px;
    list-style: none;
}

#alternatives li {
    margin: 5px;
}


#alternatives-bottom button {
    height: 50px;
    width: 500px;
    background-color: cornflowerblue;
    border: none;
    color: white;
    margin: 5px;
}

#alternatives-bottom button:hover {
    background-color: dodgerblue;
}

#alternatives ul li button {
    width: 25px;
    height: 25px;
    border: none;
}

#alternatives ul li button:hover {
    border-width: 2px;
    background-color: powderblue;
}

.alternative-text {
    width: 300px;
    padding: 12px 5px;
}